<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/node_modules/@brightspace-ui/core/components/demo/styles.css" type="text/css">
		<script type="module">
			import '@brightspace-ui/core/components/demo/demo-page.js';
			import '../../../src/components/media-player/media-player.js';
		</script>
		<title>media-player</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
	</head>
	<body>
		<d2l-demo-page page-title="d2l-media-player">
			<h2>Video Player</h2>

			<h5>Single quality source</h5>
			<d2l-demo-snippet>
				<d2l-labs-media-player src="sample-video-360p.mp4" thumbnails="th90w160i1-samplevideo.png" id="single-quality" media-type="video" poster="sample-poster.png">
					<track src="sample-vtt-en.vtt" kind="captions" srclang="en" label="English">
					<track src="sample-srt-fr.srt" kind="captions" srclang="fr" label="French">
				</d2l-labs-media-player>
				<script>
					// setting metadata JSON directly as object
					const singleQualityMetadata = () => {
						const singleQualityDemo = document.getElementById('single-quality');
						if (!singleQualityDemo) {
							setTimeout(singleQualityMetadata, 0);
							return;
						}
						fetch('sample-metadata.json')
							.then(response => response.json())
							.then(metadata => {
								singleQualityDemo.metadata = metadata;
							});
					};
					singleQualityMetadata();
				</script>
			</d2l-demo-snippet>

			<h5>Multiple qualities</h5>
			<d2l-demo-snippet>
				<d2l-labs-media-player thumbnails="th90w160i1-samplevideo.png" id="multiple-quality" media-type="video" metadata='{"chapters":[{"time":0,"title":{"en":"Chapter One","fr":"Chapitre Un","fr-ca":"Chapitre : Un"}},{"time":3,"title":{"en":"Chapter Two","fr":"Chapitre Deux","fr-ca":"Chapitre : Deux"}}]}' poster="sample-poster.png">
					<source src="sample-video-144p.mp4" label="SD">
					<source src="sample-video-360p.mp4" label="HD" default>
					<track src="sample-vtt-en.vtt" kind="captions" srclang="en" label="English">
					<track src="sample-srt-fr.srt" kind="captions" srclang="fr" label="French">
				</d2l-labs-media-player>
			</d2l-demo-snippet>

			<h2>Audio Player</h2>
			<d2l-demo-snippet>
				<d2l-labs-media-player src="sample-audio.mp3" media-type="audio">
					<track src="sample-vtt-en.vtt" kind="captions" srclang="en" label="English">
					<track src="sample-srt-fr.srt" kind="captions" srclang="fr" label="French">
				</d2l-labs-media-player>
			</d2l-demo-snippet>
		</d2l-demo-page>
	</body>
</html>
